:root {
	--black: hsl(0, 0%, 0%);
	--black-800: hsla(0, 0%, 0%, 0.8);
	--white: hsl(0, 0%, 100%);
	--gray-700: hsl(0, 0%, 93%);
	--blue-100: hsla(240, 100%, 50%, 0.75);
	--blue-400: hsl(244, 100%, 55%);
	--blue-800: hsl(240, 100%, 50%);
	--sky: hsl(225, 100%, 85%);
	--light-blue: hsl(128, 100%, 86%);
	--orange-500: hsl(14, 100%, 65%);
	--orange-800: hsl(6, 98%, 64%);
	--yellow: hsl(63, 100%, 83%);
	--purple: hsl(267, 100%, 85%);
}
