@use "../util/breackpoints" as util;

.card {
	display: grid;
	background-color: var(--sky);
	width: min((100% - (var(--padding) * 2)), 100% - 13.66rem);
	margin-inline: auto;
	line-height: 1.5;
	margin-top: min(8vw, 6.83rem);

	&__img {
		width: 100%;
		height: min(50vw, 42.6875rem);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__text {
		line-height: 1.5;
		padding: var(--padding);

		p {
			color: var(--blue-400);
			font-size: 1.25rem;
			font-weight: 700;
		}
	}

	@include util.breckpoint-up(lg) {
		grid-template-columns: repeat(2, 1fr);
		
		&__img {
			height: min(35vw, 29.881249rem);
			background-position: left;
		}

		&__text {
			display: grid;
			align-items: center;
		}
	}
}
