
.collage {
	--space: min(8vw, 6.83rem);

	width: 100%;
	height: min(60vw, 51.225rem);
	position: relative;
	margin-block: 8vw;

	&::before {
		content: "";
		width: min(60vw, 51.225rem);
		height: min(60vw, 51.225rem);
		position: absolute;
		top: 0;
	}
	& > * {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.collage-1 {
	.collage__img-1 {
		width: min(42vw, 35.8575rem);
		height: min(42vw, 35.8575rem);
		left: var(--space);
		top: 50%;
		transform: translateY(-50%);
	}
	.collage__img-2 {
		width: min(33vw, 28.17375rem);
		height: min(25vw, 21.34375rem);
		right: var(--space);
		top: 50%;
		transform: translateY(-50%);
	}
	&::before {
		right: 0;
		background-color: var(--yellow);
	}
}

.collage-2 {
	.collage__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: absolute;
		left: var(--space);
		top: 0;
		bottom: 0;

		div {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	.collage__img-1 {
		width: min(33vw, 28.17375rem);
		height: min(25vw, 21.34375rem);
	}

	.collage__img-2 {
		width: min(33vw, 28.17375rem);
		height: min(25vw, 21.34375rem);
	}
  .collage__img-3 {
    width: 42vw;
		max-width: 35.8575rem;
    height: 42vw;
		max-height: 35.8575rem;
    right: var(--space);
    top: 50%;
    transform: translateY(-50%);
  }
	&::before {
		left: 0;
		background-color: var(--light-blue);
	}
}

.collage-3 {
  .collage__img-1 {
    width: min(33vw, 28.17375rem);
    height: min(25vw, 21.34375rem);
    left: var(--space);
    top: 50%;
    transform: translateY(-50%);
  }
  .collage__img-2 {
    width: min(42vw, 35.8575rem);
    height: min(42vw, 35.8575rem);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--purple);
  }
}