@use "../util";

footer {
	margin-top: max(8vw, 6.83rem);
	padding: var(--padding);
	padding-bottom: 4rem;
	border-top: 2px solid var(--gray-700);

	h1 {
		margin-bottom: 2.625rem;
	}
	h5,
	p {
		font-size: 1rem;
	}
	h5 {
		margin-bottom: 0.75rem;
	}
	p {
		margin-bottom: 0.7rem;
		color: var(--black-800);
	}
}

.sign-up {
	p {
		margin-bottom: 1rem;
	}
}

.footer-navigation nav {
	p {
		font-family: var(--ff-Tenor);
		color: var(--black);
		cursor: pointer;
	}
	@include util.breckpoint-down(lg) {
		padding-inline: 0;
		padding-block: calc(var(--padding) / 2);
		padding-bottom: 0;

		p:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
@include util.breckpoint-up(lg) {
	.footer-navigation {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		nav {
			display: flex;
			padding: calc(var(--padding) / 2) 0;
			align-items: center;

			p {
				margin: 0;
			}
			p:not(:first-child) {
				margin-left: 1rem;
			}
		}
		.signature {
			width: auto;

			p {
				margin-right: 1rem;
				margin-left: 0;
			}
		}
	}
}
.signature {
	width: 100%;

	p {
		padding: 0;
		margin: 0;
		margin-left: 1rem;

		@include util.breckpoint-down(lg) {
			order: 2;
		}
	}
	img {
		width: 2.625rem;
	}
}
