@use "../util";

main {
	h4 {
		margin-bottom: 1.25rem;
	}
	p {
		font-family: var(--ff-Noto);
		color: var(--black-800);
	}
}

article {
	padding-block: 2.5rem;
	line-height: 1.5;
}

.img-fluied {
	width: max((100% - (var(--padding) * 2)), 100% - 13.66rem);
	height: auto;
	margin-inline: auto;
	margin-block: min(8vw, 6.83rem);
}

.youtube {
	&__poster {
		position: relative;
		cursor: pointer;
		&::after {
			content: url(https://ik.imagekit.io/b85lgzght1m/ableton/play_XqgTIDkr2.svg);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	p {
		margin-top: 0.5rem;
	}
}
